        @media (min-width:992px) {
            html.w-mod-js:not(.w-mod-ix) [data-w-id="49984665-7243-591b-db47-c93f716721fa"] {
                -webkit-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="68488fe3-092f-c5d5-7ca9-a9ba9be1bed3"] {
                opacity: 1;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="21b4927a-73ae-cb9e-056c-5bd97589fe2d"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="21b4927a-73ae-cb9e-056c-5bd97589fe2b"] {
                background-color: rgb(0, 212, 170);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="97743b6c-0b3d-99f7-2763-2e8e504d741c"] {
                -webkit-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="97743b6c-0b3d-99f7-2763-2e8e504d741a"] {
                background-color: rgb(0, 212, 170);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="e6d7b1d2-ea0f-7ff6-5dcd-28c06106c77a"] {
                -webkit-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="e6d7b1d2-ea0f-7ff6-5dcd-28c06106c778"] {
                background-color: rgb(0, 212, 170);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="9a67d817-5b76-c469-b8eb-17a9ab8cbfc2"] {
                -webkit-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="9a67d817-5b76-c469-b8eb-17a9ab8cbfc0"] {
                background-color: rgb(0, 212, 170);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="0aaca80f-8e1b-f459-ec32-52c89fe23927"] {
                -webkit-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="0aaca80f-8e1b-f459-ec32-52c89fe2392c"] {
                opacity: 1;
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="0aaca80f-8e1b-f459-ec32-52c89fe23932"] {
                -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            }
            html.w-mod-js:not(.w-mod-ix) [data-w-id="0aaca80f-8e1b-f459-ec32-52c89fe23930"] {
                background-color: rgb(212, 245, 233);
            }
        }

        body .transition {
            display: block
        }

        .w-editor .transition {
            display: none;
        }

        .no-scroll-transition {
            overflow: hidden;
            position: relative;
        }

        html.lenis {
            height: auto;
        }

        .lenis.lenis-smooth {
            scroll-behavior: auto;
        }

        .lenis.lenis-smooth [data-lenis-prevent] {
            overscroll-behavior: contain;
        }

        .lenis.lenis-stopped {
            overflow: hidden;
        }

        /* Ð¡ÐºÑ€Ñ‹Ñ‚ÑŒ Ð¿Ð¾Ð»Ð¾ÑÐºÑƒ Ð¿Ñ€Ð¾ÐºÑ€ÑƒÑ‚ÐºÐ¸ Ð´Ð»Ñ Webkit-Ð±Ñ€Ð°ÑƒÐ·ÐµÑ€Ð¾Ð² (Chrome, Safari, Opera) */

        body::-webkit-scrollbar {
            display: none;
        }